@media (max-width:768px){
  .content{
    width: 500px;
   }
   .content input{
    width: 100%;
    font-size: 1.5rem;
  }
   .content .content-parameters{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (max-width:575px){
.title-text{
  font-size: 1.5rem!important;
}
  .content{
 width: 300px;
 height: auto;
 position: absolute;
 top: 40%;
}
 .content input{
  width: 100%;
  font-size: 1.2rem;
}
.content .content-parameters{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}